html, body {
    overflow: hidden;
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
}

#renderCanvas {
    width   : 100%;
    height  : 100%;
    touch-action: none;
}

#demoCanvas {
    width   : 100%;
    height  : 100%;
    touch-action: none;
}

#loginForm {
  position: absolute;
  top: 35%;
  left: 45%;
  z-index: 2;
  display: inline;
}

#signupForm {
  position: absolute;
  top: 30%;
  left: 38%;
  z-index: 2;
  display: inline;
}

.login {
  display: block;
  align-content: center;
}

.signup {
  display: inline-block;
  align-content: center;
}

p {
  text-align: center;
  font-family: "Blackadder ITC";
  font-size: 25px;
  color: saddlebrown;
  margin: 5px;
}

input {
  border: none;
  font-family: "Blackadder ITC";
  font-size: 25px;
  color: saddlebrown;
  border-bottom: 2px solid saddlebrown;
  background-color: blanchedalmond;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {

  p {
    text-align: center;
    font-family: "Blackadder ITC";
    font-size: 10px;
    color: saddlebrown;
    margin: 5px;
  }

  input {
    border: none;
    font-family: "Blackadder ITC";
    font-size: 10px;
    color: saddlebrown;
    border-bottom: 2px solid saddlebrown;
    background-color: blanchedalmond;
  }

  #loginForm {
    position: absolute;
    top: 30%;
    left: 43%;
    z-index: 2;
    display: inline;
  }

  #signupForm {
    position: absolute;
    top: 25%;
    left: 35%;
    z-index: 2;
    display: inline;
  }

}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  p {
    text-align: center;
    font-family: "Blackadder ITC";
    font-size: 5px;
    color: saddlebrown;
    margin: 5px;
  }

  input {
    border: none;
    font-family: "Blackadder ITC";
    font-size: 5px;
    color: saddlebrown;
    border-bottom: 2px solid saddlebrown;
    background-color: blanchedalmond;
  }

  #loginForm {
    position: absolute;
    top: 35%;
    left: 45%;
    z-index: 2;
    display: inline;
  }

  #signupForm {
    position: absolute;
    top: 30%;
    left: 38%;
    z-index: 2;
    display: inline;
  }
}
